In [167]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

'GGAGAATCATTTGAACCCGGGAGGTGGAGGTTGCCGTGAGCTGAGATTGCGCCATTGCACTCCAGCCTGGGCAACAAGAGCAAAACTCTGTCTCACAAAAC'

In [196]:
def get_train(k, type='string'):
    if type == 'float':
        X = pd.read_csv('./Data/Xtr'+str(k)+'_mat100.csv', header=None, sep=' ')
        X.columns = ['s'+str(i+1) for i in range(100)]
    else:
        X = pd.read_csv('./Data/Xtr'+str(k)+'.csv')
    y = pd.read_csv('./Data/Ytr'+str(k)+'.csv').loc[:, "Bound"]
    return X, y

def get_test(k, type='string'):
    if type == 'float':
        X = pd.read_csv('./Data/Xte'+str(k)+'_mat100.csv', header=None, sep=' ')
        X.columns = ['s'+str(i+1) for i in range(100)]
    else:
        X = pd.read_csv('./Data/Xte'+str(k)+'.csv')
    return X
    
def train_test_split(X, y, p):
    n = X.shape[0]
    idx_0, idx_1 = np.where(y == 0)[0], np.where(y == 1)[0]
    n0, n1 = len(idx_0), len(idx_1)
    idx_tr0 = np.random.choice(idx_0, int(p*n0), replace=False)
    idx_tr1 = np.random.choice(idx_1, int(p*n1), replace=False)
    idx_te0 = list(set(idx_0)-set(idx_tr0))
    idx_te1 = list(set(idx_1)-set(idx_tr1))
    idx_tr = np.random.permutation(np.concatenate((idx_tr0, idx_tr1)))
    idx_te = np.random.permutation(np.concatenate((idx_te0, idx_te1)))
    n_tr, n_te = len(idx_tr), len(idx_te)
    X_train, y_train = X.iloc[idx_tr, :], y[idx_tr]
    X_test, y_test = X.iloc[idx_te, :], y[idx_te]
    print('Number of training samples: {} ({:0.4f}%), testing samples: {} ({:0.4f}%)'.
          format(n_tr, n_tr/n*100, n_te, n_te/n*100))
    print('Count train : 0 ({:0.4f}%), 1 ({:0.4f}%)'.
          format(np.count_nonzero(y_train == 0)/n_tr*100,
                 np.count_nonzero(y_train == 1)/n_tr*100))
    print('Count test : 0 ({:0.4f}%), 1 ({:0.4f}%)'.
          format(np.count_nonzero(y_test == 0)/n_te*100,
                 np.count_nonzero(y_test == 1)/n_te*100))
    return X_train, y_train, X_test, y_test

In [197]:
X, y = get_train(0)
X_train, y_train, X_test, y_test = train_test_split(X, y, 0.75)

Number of training samples: 1499 (74.9500%), testing samples: 501 (25.0500%)
Count train : 0 (51.1674%), 1 (48.8326%)
Count test : 0 (51.0978%), 1 (48.9022%)

In [198]:
X_train.head()

        Id                                                seq
856    856  GCACAATCCTGAGGAAGGACGTCACGTCACCAGGGCAACGACGCTC...
1192  1192  ATATTTAGGATAGTGAGCTCTTCTTGTTGAATTGATCCCTTTACCA...
1430  1430  GTCCTTTTCCTTTTCATGCACCACTGAAGCAGGAGAACAGACTCCC...
1724  1724  TTTTTTTTTTAGAGAGTCTTGCTCTGACACCCTGGCTGGAGTGCAG...
924    924  ATCTGGAAAGAGAATCTCCTTTCCCCCCGAAAGAAATTAGTGTTAG...

In [161]:
class SVM():
    def __init__(self):
        pass
    def fit(self):
        pass
    def predict(self):
        pass
    def score(self):
        pass